body{
    color: #333;
    padding: 30px;
    line-height: 1.6;
    border: 1px solid lightgray;
    width: 450px;
    padding: 25px;
}

h3{
    font-size: 20px;
}
legend{
    color: blue;
    font-weight: bold;
}
label{
    display: inline-block;
    width: 90px;
    /* border: 1px solid red;*/
}
input, select, textarea{
   /* border: 1px solid red;*/
    font-size: 18px;
    padding: 6px;
    margin-bottom: 10px;
}
input[type="radio"],
    input[type="checkbox"] {
        margin-right: 4px;
    }
input[type="submit"]{
        background: #1e88e5;
        color: #fff;
        padding: 8px 18px;
        font-size: 14px;
    }

    
