nav ul{
    display: flex;
    background-color: rgba(128, 128, 128, 0.205);
    justify-content: space-around;
    height: 70px;
    align-items: center;
    padding-top: 15px;
}
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 800;
}