body{
    line-height:  1.6;
}
a{
    text-decoration: none;
}
#wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
/* main{
    border: 1px solid red;
} */
.sec-tit{
    background-color: lightblue;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 30px;
 }
 /*  HEADER  */
 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(4, 91, 117);
    display: flex;
    justify-content: space-between;
    z-index: 100;
 }
.logo a{
    color: white;
    font-size: 1.2rem;
    line-height: 60px;
    margin-left: 1rem;
}
/* 멤뉴 기본 숨김 */
nav{
    display: none;
    background-color: #333;
    opacity: 0.9;
}
/* js 토글 이후 추가 내용 */
nav.is-open{
    display: block;
}

/* 햄버거 버튼 */
/* 이러ㅎ게 해도 되고 */
/* .menu-toggle-btn{
    color: white;
    font-size: 25px;
    background: transparent;
    border: none;
} */
 .menu-toggle-btn{
    width: 2rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
 }
.menu-toggle-btn span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}
/* slider */
.slider{
    margin-top: 60px;
    /* border: 1px sold red; */
}
.slider img{
    width: 100%;
    height: auto;
}
/* common */
.container{
    /* border: 1px solid red; */
    width: 100%;
}
.sec-tit{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.desc{
    text-align: center;
    font-size: 1rem;
}
/* promotion */
.promo-list li{
    list-style: none;
    margin-bottom: 1.5rem;
}
.promo-list a{
    display: block;
    /* border: 1px solid green; */
    text-align: center;
    background-color: #f2f2f2;
}
.promo-list a h3{
    color: #777;
    font-weight: 600;
}
.promo-list a p{
    color: #888;
    font-size: 0.8rem;
}
/* work */
.work-list li {
    margin-bottom: 1.5rem;
}
.work-list a{
    display: block;
    background: #eaeaea;
    text-align: center;
    padding: 2rem;
}
.work-list li h3{
    color: #777;
    font-weight: 600;
}
.work-list li span{
    color: #888;
    font-size: 0.8rem;
}
/* blog */
.blog-list li{
    margin-bottom: 1.5rem;
}
.blog-list h3{
    font-size: 1rem;
    color: #777;
    font-weight: 600;
}
/* contact */
textarea{
    width: 100%;
    height: 120px;
    font-size: 1rem;
    padding: 1rem;
}
/* footer */
footer{
    font-size: 0.8rem;
    color: #888;
}
/* 태블릭 최소 768px 이상일 때 적용 */
@media (min-width: 768px){
    .promo-list{
        display: flex;
        /* 자식 요소가 부모 컨테이너의
        너비를 초과할 때, 자동으로
        다음 줄로 넘어가게 설정
        no-wrap 한 줄에 강제로 배치 */
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .promo-list li{
        width: 48%;
    }
    /* work blog 2열로 */
    .work-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .work-list li{
        width: 48%;
    }
    .blog-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .blog-list li{
        width: 48%;
    }
    /* 제목만 살짝 키움 */
}

/* pc 1024 이상일 때 */
@media (min-width: 1024px){
    .menu-toggle-btn{
        display: none;
    }
    nav{
        display: block;
        background: none;
    }
    nav ul{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    nav li{
        margin-left: 1.5rem;
    }
    nav a{
        color: #fff;
        font-size: 0.95rem;
    }
    /* promotion 4열 */
    /* work 4열 */
    /* blog 3열 */
    .sec-tit{
        font-size: 2.6rem;
    }
    .promo-list li{
        width: 20%;
        padding: 20px;
    }
    .work-list li{
        width: 20%;
        padding: 20px;
    }
    .blog-list li{
        width: 30%;
    }

}
